DATABASE_URL=postgresql://postgres.[YOUR_PROJECT_ID]:[PASSWORD]@aws-0-ap-south-1.pooler.supabase.com:6543/postgres
JWT_SECRET=your-super-secret-jwt-key-1234567890-abcdefghijk
SUPABASE_URL=yoursupabaseurl
SUPABASE_KEY=your-supabase-service-role-key
